.bolas{
	position: relative;
	perspective: 4px;

}
.bola-arround{
	background-color: black;
}
.bola3{
	background-color: black;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	transform: translateZ(2px);

}
.bola2{
	background-color: black;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	transform: translateZ(8px);

}
.bola1{
	background-color: black;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	transform: translateZ(-5px);
}
body{
	background-color: blue;
}