.form-cadastro{
    display: flex;
    flex-direction: column;
    margin: 45px auto;
    width: 300px;
}
.form-cadastro input, .form-cadastro textarea,.form-cadastro button{
    background-color: lightgray;
    margin: 10px;
    padding: 10px;
    color: gray;
    border: none;
    border-radius: 3px;
   outline: none;
   border: 1px solid lightgray;
}
.form-cadastro input:focus, .form-cadastro textarea:focus{
    border: 1px solid black;
}
.form-cadastro input{
    font-size: 1.2rem;
    
}
.form-cadastro textarea{
    font-size: 1.2rem;
    resize:vertical;
}
/* .form-cadastro .form-btn button{
    font-size: 1.2rem;
    padding: 10px 0;
    width: 200px;
} */
.form-cadastro button{
    cursor: pointer;
    transition: .2s; /* Animation */
}
.form-cadastro button:hover{
    transform: scale(1.1);
}
.form-cadastro .form-btn{
    display: flex;
}
.form-cadastro .btn-submit{
    font-size: 1.2rem;
    padding: 10px 0;
    width: 200px;
}
.form-cadastro .btn-apagar{
    font-size: 1.2rem;
    padding: 10px 0;
    width: 200px;
}