.titulo-principal{
    background-image: linear-gradient(to bottom,red , black)
}
}
.foto-home {
    height: 200px;
    box-shadow: 2px 2px black;
}
.saudacao p {
    font-size: 1.5em;
    color: #99A;
    line-height: 1;
    padding: 2em;
}
.saudacao-inicio {
    font-size: 3em;
    color: #889;

}
.saudacao-ultima-linha {
    text-align: right;
    display: block;
}
.saudacao strong {
    font-size: 2em;
    color: #000;
}
.saudacao em {
    color: #851944;
    font-size: 4em;
    transform:  rotate(-5deg) skew(-10deg);
    display: inline-block;
}
.botao-index {
    font-size: 1.25em;
    background-color: #851944;
    color: #FFF;
    padding: .5em;
    border: .2em solid black;
    width: 40ch;
    margin: 2em auto;
    display: block;
    text-align: center;
}
.secao-inicio {
    padding: 2em;

}
.secao-inicio h2 {
    font-size: 3em;
    text-transform: uppercase;
    margin-bottom: .5em;
}
.trabalhos {
    background-color: #3C1D3D;
    border-top: .5em solid #000;
    border-bottom: .5em solid #000;
}
.trabalhos h2 {
    color: #FFF;
}
.trabalhos ul {
    overflow: hidden;
    border: .5em solid black;
}
.trabalhos li {
    float: left;
    width: 33.333%;
}
.trabalhos img {
    width: 100%;
    display: block;
}
.blog {
    background-color: #999;
    color: #FFF;
    border-bottom: .5em solid #851944;
    position: relative;
}
.blog small {
    position: relative;
    top: -2em;
}
.blog li a {
    color: #FCF;
    padding: .5em;
    display: block;
    
}
footer {
    background-color: #000;
    color: #FFF;
    padding: 2em;
}
footer h2 {
    font-size: 3em;
}
footer a {
    color: #F99;
}
main {
    width: 100%;
    padding-bottom: 0;
    float: none;
}

.inicio-post{
 background-color: white;
    color: black;
    position: absolute;
    top: 2em;
    right: 25em;
    padding: 1em;
    height: 10em;
    width: 25em;
}

.palavra-home {
    position: absolute;
    font-family: "Shadows Into Light", cursive;
    font-weight: bold;
    color: #D5447E;
       perspective: 6px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

}

.eficiencia {
    top: 20%;
    left: 75%;
    -webkit-transform: rotate(30deg)
    rotate(-40deg);
   top: 50%;
    left: 60%;
    transform: translate(-50%, -50%) rotate(-5deg) translateZ(4px) scale(0.5);
}

.boas-praticas {
    top: 70%;
    left: 20%;
    -webkit-transform: rotate(30deg)
    rotate(-20deg);
     top: 70%;
    left: 20%;
    transform: translate(-50%, -50%) rotate(10deg) translateZ(1px) scale(0.5);
}

.codigo-limpo {
    top: 45%;
    left: 10%;
    -webkit-transform: rotate(30deg)
    rotate(-50deg);
     top: 45%;
    left: 25%;
    transform: translate(-50%, -50%) rotate(-10deg) translateZ(2px) scale(0.5);
}

.css3 {
    top: 50%;
    left: 30%;
    -webkit-transform: rotate(30deg)
    rotate(-80deg);
    top: 55%;
    left: 35%;
    transform: translate(-50%, -50%) rotate(5deg) translateZ(2px) scale(0.5);
}
}

.html5 {
    top: 40%;
    left: 80%;
    -webkit-transform: rotate(30deg)
    rotate(-20deg);
    top: 30%;
    left: 65%;
    transform: translate(-50%, -50%) rotate(10deg) translateZ(2px) scale(0.5);
}

.javascript {
    top: 10%;
    left: 60%;
    -webkit-transform: rotate(30deg)
    rotate(-34deg);
     top: 15%;
    left: 60%;
    transform: translate(-50%, -50%) rotate(-5deg) translateZ(1px) scale(0.5);
}

.acessibilidade {
    top: 30%;
    left: 25%;
    -webkit-transform: rotate(30deg)
    rotate(-13deg);
    top: 30%;
    left: 35%;
    transform: translate(-50%, -50%) rotate(-5deg) translateZ(3px) scale(0.5);

}

.responsivo {
    top: 15%;
    left: 15%;
    -webkit-transform: rotate(30deg)
    rotate(-12deg);
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%) rotate(10deg) translateZ(3px) scale(0.5);
}

.otimizacoes {
    top: 60%;
    left: 70%;
    -webkit-transform: rotate(30deg)
    rotate(-45deg);
    top: 70%;
    left: 65%;
    transform: translate(-50%, -50%) rotate(-5deg) translateZ(2px) scale(0.5);
}
}

.agilidade {
    top: 10%;
    left: 30%;
    -webkit-transform: rotate(30deg)
    rotate(-20deg);
    top: 75%;
    left: 35%;
    transform: translate(-50%, -50%) rotate(5deg) translateZ(1px) scale(0.5);
}
}

.design {
    top: 35%;
    left: 65%;
    -webkit-transform: rotate(37deg)
    rotate(-40deg);
    top: 40%;
    left: 60%;
    transform: translate(-50%, -50%) rotate(10deg) translateZ(2px) scale(0.5);
}
header{
    position:relative;
    perspective: 4px;
}
img{
    /*importante*/
   border-radius: 40% 60% / 50% 40%;
   transform: rotate(30deg)
   scale(0);
   transform: translateZ(2px);
   -webkit-overflow: scroll;

}

.bolas {
    perspective: 4px;
}

.bola1 {
    transform: translateZ(2px);
}

.bola2 {
    transform: translateZ(-1px);
}
h1{
    text-shadow: 10px 4px black;
}
h2{
       text-shadow: 5px 4px black;
}